#body{
    font-family: 'Open Sans', sans-serif;
    background-color: #171717;
    margin: 0;
    padding: 0;
}

/*Head*/
.main-header{
    font-family: 'Gotham';
    width: auto;
    padding: 180px;
    text-align: center;
    background-image: url(../images/clouds_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.color-overlay{
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #171717;
    opacity: .20;
    position: absolute;
}
h1{
    z-index: 1;
    color: #f1f1f1;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 37%);
    font-size: 45px;
    position: relative;
}

/*body*/
#main{
    background-color: #171717;
    color: #f1f1f1;
    padding: 6px;
}
#section-1{
    text-align: center;
    font-size: 24px;
    color: #f1f1f1;
}
#img-prof{
    width: 200px;
    border-radius: 100px;
    margin: auto;
}
#section-b{
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    width: 50%;
    background: #222222;
    border-radius: 5px;
}
#section-b p{
    color:#bbb;
    font-size: 14px;
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: .015em;
}

#section-b a{
    color: #13aff0
}
#adv{
    color: #13aff0;
    font-size: 12px;
}

/*Mini Navigator*/
.navigation-2 ul{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
.navigation-2{
    width: 100%;
    margin: 5px;
    text-align:center;
}
.menu-2 > li{
    position: relative;
    display: inline-block;
}
.menu-2 >li >a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #13aff0;
    font-size: 14px;
    letter-spacing: .015em;
    font-weight: 400;
    transition: all 0.5s ease;
}
.menu-2 >li >a:hover{
    color: #0c8ec4;
}

/*Navigation Menu*/
.navigation ul{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
.navigation{
    width: 600px;
    margin: 15px auto;
    background: #222222;
    border: 1px rgba(255, 255, 255, 0.288) solid;
    border-radius: 5px;
    cursor: pointer;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu >li >a{
    display: block;
    padding: 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #f1f1f1;
    transition: all 0.3s ease;
}
.menu >li >a:hover{
    color: #0c8ec4;
    background: #151515;
}

/* Categorias SubMenu*/
.submenu{
    position: absolute;
    background: #333333;
    width: 200%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    border-radius: 5px;
}
.submenu >li >a{
    display: block;
    padding: 15px 20px;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.submenu a{
    transition: all 0.5s ease;
}
.submenu a:hover{
    background: #151515;
    color: #0c8ec4;
}

.menu >li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/*footer*/
footer{
    margin-top: 150px;
    position: absolute;
    box-sizing: border-box;
    background: #171717;
    height: auto;
    width: 100%;
    padding-top: 20px;
    color: #fff;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    padding: 0;
}
.socials li{
    margin: 0 10px
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.3rem;
    transition: all 0.5s ease;
}
.socials a:hover i{
    color: #0c8ec4;
}
.footer-bottom{
    background: #171717;
    width: 100;
    padding: 2px 0;
    text-align: center;
}
.dmca{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}