/*footer*/
footer{
    margin-top: 150px;
    position: absolute;
    box-sizing: border-box;
    background: #171717;
    height: auto;
    width: 100%;
    padding-top: 20px;
    color: #fff;
    font-weight: 400;
    letter-spacing: .015em;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    padding: 0;
  }
  .socials li{
    margin: 0 10px
  }
  .socials a{
    text-decoration: none;
    color: #f1f1f1;
  }
  .socials a i{
    font-size: 1.3rem;
    transition: all 0.5s ease;
  }
  .socials a:hover i{
    color: #0c8ec4;;
  }
  .footer-bottom{
    background: #171717;
    width: 100;
    padding: 2px 0;
    text-align: center;
  }
  .dmca{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
  }