/*gallery*/
.gallery{
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-top: 0px;
  justify-content: center;
}
.image{
  border-radius: 15px;
  padding: 2px;
  position: relative;
  width: 100%;
  width: calc(100% / 7);
}
.crop{
  width: 100%;
  height: 100%;
  z-index: 2;
}
.effect{
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 3;
  opacity: 0;
  transition: .5s ease;
}
.overlay{
  display: block;
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  padding: 20px;
  text-align: left;
  z-index: 4;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

}
.overlay .title{
  font-weight: 200;
  font-size: 15px;
  color: #f1f1f1;
}
.overlay .info{
  font-weight: 300;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}
.image:hover .overlay{
  opacity: 1;
}
.image:hover .effect{
  opacity: 1;
}
.gallery .image{
  transition: all 0.5s ease;
  filter: grayscale(100%);
  transition: 0.5s;
  overflow: hidden;
}
.gallery .image:hover{
  filter: grayscale(0);
}




/*Responisve Font size legend*/
@media (max-width: 1920px) {
  .overlay .title + .info{
    width: 100%;
  }
}
@media (max-width: 940px) {
  .overlay .title{
    opacity: 0;
  }
}
@media (max-width: 940px) {
  .overlay .info{
    opacity: 0;
  }
}

/*animation selection*/
.gallery .image.hide{
  display: none;
}
.gallery .image.show{
  animation: animate 0.4s ease;
}
@keyframes animate {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}

@media (max-width: 1920px) {
  .gallery .image{
    width: calc(90% / 6);
  }
}
@media (max-width: 1800px) {
  .gallery .image{
    width: calc(90% / 5);
  }
}
@media (max-width: 1200px) {
  .gallery .image{
    width: calc(80% / 4);
  }
}
@media (max-width: 768px) {
  .gallery .image{
    width: calc(80% / 3);
  }
}
@media (max-width: 200px) {
  .gallery .image{
    width: 100%;
  }
}
iframe{
  width: 100% !important;
}
.footer{
  height: 120px;
  margin: 0;
}
.navbar{
  height: 80px;
  margin: 0;
}