body{
  font-family: 'Open Sans', sans-serif;
  background-color: #171717;
  margin: 0;
  padding: 0;
}

.main-header{
  font-family: 'Gotham';
  width: auto;
  padding: 120px;
  text-align: center;
  background-image: url(../images/clouds_01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.color-overlay{
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: #171717;
  opacity: .20;
  position: absolute;
}
h1{
  z-index: 1;
  color: #f1f1f1;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 37%);
  font-size: 45px;
  position: relative;
}

/*Mini Navigator*/
.navigation-2 ul{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}
.navigation-2{
  width: 100%;
  margin: 5px;
  text-align:center;
}
.menu-2 > li{
  position: relative;
  display: inline-block;
}
.menu-2 >li >a{
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #13aff0;
  font-size: 14px;
  letter-spacing: .015em;
  font-weight: 400;
  transition: all 0.5s ease;
}
.menu-2 >li >a:hover{
  color: #0B7CAC;
}

/*Navigation Menu*/
.navigation ul{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: .015em;
  justify-content: center
}
.navigation{
  max-width: 1920px;
  margin-top: 10px;
  margin-bottom: 150px;
  background: #222222;
  cursor: pointer;
  text-align: center;
  justify-content: space-between;
}
.menu > li{
  position: relative;
  display: inline-block;
}
.menu >li >a{
  display: block;
  padding: 15px 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #f1f1f1;
  transition: all 0.5s ease;
}
.menu >li >a:hover{
  color: #0c8ec4;
  background: #151515;
}

/* Categorias SubMenu*/
.submenu{
  text-align: center;
  position: absolute;
  background: #333333;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.submenu >li >a{
  justify-content: space-between;
  display: block;
  padding: 15px 15px;
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .015em;
}
.submenu a{
  transition: all 0.3s ease;
}
.submenu a:hover{
  background: #151515;
  color: #0c8ec4;
}

.menu >li:hover .submenu{
  visibility: visible;
  opacity: 1;
}

.image{
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;
  width: 100%;
  height: 900px;
  vertical-align: middle;
  object-fit: contain;
}

/*Info Art*/
.update{
  margin: auto;
  margin-bottom: 30px;
  text-decoration: none;
  height: auto;
  width: 70%;
  border-radius: 10px;
  padding: 15px;
  background: #222222;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
  display: flex;
}
.update .img-prof img{
  width: 80px;
  border-radius: 100px;
  margin: 15px;
  flex: 0 0 150px;
}
.content{
  padding-top: 20px;
  padding-left: 20px;
  vertical-align: middle;
}
.update b{
  font-size: 16px;
  color: #f1f1f1;
  font-weight: 300;
  letter-spacing: 1px;
}
.update p{
  font-size: 14px;
  line-height: 2;
  color: #bbb;
  font-weight: 400;
  letter-spacing: .015em;
}
.update a{
  font-size: 14px;
  color: #13aff0;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: .015em;
  transition: all 0.5s ease;
}
.update a:hover{
  color: #0B7CAC;
}

/*Comments*/
#disqus_thread{
  margin: auto;
}


/*footer*/
footer{
  margin-top: 150px;
  position: absolute;
  box-sizing: border-box;
  background: #171717;
  height: auto;
  width: 100%;
  padding-top: 20px;
  color: #fff;
  font-weight: 400;
  letter-spacing: .015em;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  padding: 0;
}
.socials li{
  margin: 0 10px
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.3rem;
  transition: all 0.5s ease;
}
.socials a:hover i{
  color: #0c8ec4;
}
.footer-bottom{
  background: #171717;
  width: 100;
  padding: 2px 0;
  text-align: center;
}
.dmca{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  padding-bottom: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}