/*pals old web*/
.topic{
    margin: auto;
    margin-bottom: 30px;
    text-decoration: none;
    height: auto;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
    background: #222222;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    display: flex;
  }
  .topic .img-topic img{
    width: 150px;
    border-radius: 100px;
    margin: 15px;
    flex: 0 0 150px;
  }
  .topic b{
    font-size: 16px;
    color: #f1f1f1;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .topic p{
    font-size: 14px;
    line-height: 2;
    color: #bbb;
    font-weight: 400;
    letter-spacing: .015em;
  }
  .topic a{
    font-size: 14px;
    color: #13aff0;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .015em;
    transition: all 0.5s ease;
  }
  .topic a:hover{
    color: #0B7CAC;
  }
  .topic-text{
    padding-top: 20px;
    padding-left: 20px;
    vertical-align: middle;
  }
  .topic .social a{
    font-size: 1.4rem;
    margin: 0 5px;
    color: #13aff0;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .015em;
    transition: all 0.5s ease;
  }
  .topic .social a:hover{
    color: #0B7CAC;
  }