@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection{
  color: #f1f1f1;
  background: #0c8ec4;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #171717;
  margin: 0;
  padding: 0;
}

.main-header{
  width: auto;
  height: 600px;
  text-align: center;
  background-image: url(../images/header/header.png),url(../images/header/header_razz.jpg);
  background-position: center;
  background-attachment: center;
  background-size: cover;
  position: relative;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 37%);
}
.color-overlay{
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: #171717;
  opacity: .20;
  position: absolute;
}
.main-header h1{
  font-family: 'Gotham';
  padding-top: .5rem;
  text-align: center;
  z-index: 1;
  color: #f1f1f1;
  font-size: 32px;  
  position: relative;
  line-height: 1.2em;
  letter-spacing: -.5px;
  margin: 0;
  font-weight: 500;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
.main-header t{
  letter-spacing: .015em;
  color: #bbb;
  line-height: 1.75em;
  font-weight: 400;
  font-size: 16px;
}
.prof-image{
  margin: 5px;
  margin-top: 300px;
  width: 8rem;
  border-radius: 10rem;
}


/*Navigation*/
.navigation{
  width: 100%;
  text-align:center;
  max-width: auto;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  font-size: 15px;
  letter-spacing: .015em;
  font-weight: 400;
  background-color: #222222;
}
.menu li{
  position: relative;
  display: inline-block;
}
.menu li a{
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: #13aff0;
}
.menu li a:hover{
  color: #0B7CAC;
  transition: all .5s;
}

/*gallery*/
.gallery{
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-top: 90px;
}
.image{
  position: relative;
  width: 100%;
  width: calc(100% / 7);
}
.crop{
  width: 100%;
  height: 100%;
  z-index: 2;
}
.effect{
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 3;
  opacity: 0;
  transition: .5s ease;
}
.overlay{
  display: block;
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  padding: 20px;
  text-align: left;
  z-index: 4;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

}
.overlay .title{
  font-weight: 200;
  font-size: 15px;
  color: #f1f1f1;
}
.overlay .info{
  font-weight: 300;
  color: #fff;
  font-size: 16px;
}
.image:hover .overlay{
  opacity: 1;
}
.image:hover .effect{
  opacity: 1;
}
.gallery .image{
  transition: all 0.5s ease;
  filter: grayscale(100%);
  transition: 0.5s;
  overflow: hidden;
}
.gallery .image:hover{
  filter: grayscale(0);
}

/*Responisve Font size legend*/
@media (max-width: 1920px) {
  .overlay .title + .info{
    width: 100%;
  }
}
@media (max-width: 940px) {
  .overlay .title{
    opacity: 0;
  }
}
@media (max-width: 940px) {
  .overlay .info{
    opacity: 0;
  }
}

/*animation selection*/
.gallery .image.hide{
  display: none;
}
.gallery .image.show{
  animation: animate 0.4s ease;
}
@keyframes animate {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}

@media (max-width: 1920px) {
  .gallery .image{
    width: calc(100% / 7);
  }
}
@media (max-width: 1800px) {
  .gallery .image{
    width: calc(100% / 5);
  }
}
@media (max-width: 1200px) {
  .gallery .image{
    width: calc(100% / 4);
  }
}
@media (max-width: 768px) {
  .gallery .image{
    width: calc(100% / 3);
  }
}
@media (max-width: 200px) {
  .gallery .image{
    width: 100%;
  }
}

iframe{
  width: 100% !important;
}
.footer{
  height: 120px;
  margin: 0;
}
.navbar{
  height: 80px;
  margin: 0;
}