/*Topics*/
.section3{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
}
.topic{
  margin: auto;
  margin-bottom: 2%;
  text-decoration: none;
  height: 180px;
  position: relative;
  width: 75%;
  border-radius: .5rem;
  padding: 15px;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}
.card1{
  background-image: url(../images/topics/topic_01.jpg);
}
.card2{
  background-image: url(../images/topics/topic_02.jpg);
}
.card3{
  background-image: url(../images/topics/topic_03.jpg);
}
.card4{
  background-image: url(../images/topics/topic_04.jpg);
}


.topic h3{
  z-index: 1;
  position: relative;
  color: #f1f1f1;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 37%);
  font-size: 45px;
  font-weight: 400;
  letter-spacing: .015em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s ease;
  pointer-events: none
}

.topic-color-overlay{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #171717;
  opacity: .30;
  position: absolute;
}
.topic a{
  text-decoration: none;
}
.topic a img{
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  display: block;
}
.topic-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  background: #22222250;
  opacity: 0;
}
.topic-overlay:hover{
  opacity: 1;
}
.topic-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: .015em;
  text-align: center;
  flex-direction: column;
}
